name: E2E Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    environment: test   # <- usa el environment "test" de Settings > Environments

    env:
      ENV: ${{ vars.ENV }}
      BASE_URL: ${{ vars.BASE_URL }}
      AUTH_API_URL: ${{ vars.AUTH_API_URL }}
      USER_CARRIER_ADMIN: ${{ secrets.USER_CARRIER_ADMIN }}
      PASS_CARRIER_ADMIN: ${{ secrets.PASS_CARRIER_ADMIN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Crear archivo .env.test
        run: |
          cat <<EOF > .env.test
          ENV=${ENV}
          BASE_URL=${BASE_URL}
          AUTH_API_URL=${AUTH_API_URL}
          USER_CARRIER_ADMIN=${USER_CARRIER_ADMIN}
          PASS_CARRIER_ADMIN=${PASS_CARRIER_ADMIN}
          EOF

      # Ejemplo: acá iría tu comando de tests
      - name: Run tests
        run: |
          echo "Acá correría tus tests usando .env.test"
